In [1]:
#import pandas library as pd
import pandas as pd

In [2]:
#read csv file and convert into dataframe
data = pd.read_csv('data.csv', encoding ="ISO-8859-1")
df = pd.DataFrame(data)

In [3]:
#list first 5 records
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
#install mysql connector to connect python with mysql
#pip install mysql-connector-python

SyntaxError: invalid syntax (3230778214.py, line 2)

In [5]:
#import libraries
import mysql.connector

In [6]:
import sqlite3
from google.cloud import storage 
import numpy as np
from datetime import datetime
import sys

In [7]:
#Establish connection between python and mysql

cnx = mysql.connector.connect(user='root', password='Jasper@123', host='34.123.55.228', 
                              database='customer')

cursor = cnx.cursor()

In [8]:
#Create customer_details table in mysql database

cursor.execute('''CREATE table customer_details (
               InvoiceNo varchar(25),
               StockCode varchar(50), 
               Description varchar(100), 
               Quantity int, 
               InvoiceDate varchar(25),
               UnitPrice float, 
               CustomerID float, 
               Country varchar(50)
              )''')

In [154]:
#Create customer_data table in mysql database

cursor.execute('''CREATE table customer.customer_data (
               InvoiceNo varchar(25),
               StockCode varchar(50), 
               Description varchar(100), 
               Quantity int, 
               InvoiceDate timestamp,
               UnitPrice float, 
               CustomerID float, 
               Country varchar(50)
              )''')

In [11]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [70]:
#for row in df.itertuples():
#    cursor.execute('''
#    Insert into customer.customer_details(InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country)
#    values(%s, %s, %s, %s,%s, %s, %s, %s)
#   ''',
#                  (row.InvoiceNo,
#                  row.StockCode,
#                  row.Description,
#                  row.Quantity,
#                  row.InvoiceDate,
#                  row.UnitPrice,
#                  row.CustomerID,
#                  row.Country)
#                  )
#    
#cnx.commit()

DataError: 1292 (22007): Incorrect datetime value: '12/1/2010 8:26' for column 'InvoiceDate' at row 1

In [43]:
#import datetime library

import datetime

In [42]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [122]:
temp = 0
for i in range(len(df)):
    InvoiceNo = str(df['InvoiceNo'].iloc[i])
    StockCode = str(df['StockCode'].iloc[i])
    Description = str(df['Description'].iloc[i])
    Quantity = int(df['Quantity'].iloc[i])
    InvoiceDate = datetime.strptime(df.iloc[i]['InvoiceDate'], "%d/%m/%Y %H:%M")
    UnitPrice = float(df['UnitPrice'].iloc[i])
    CustomerID = float(df['CustomerID'].iloc[i])
    Country = str(df['Country'].iloc[i])

    
    query2 = '''INSERT INTO customer_details (InvoiceNo, StockCode, Description, Quantity, InvoiceDate,UnitPrice, CustomerID, Country)
             values (%s, %s, %s, %s,%s, %s, %s, %s)'''
    val = (InvoiceNo, StockCode, Description, Quantity, InvoiceDate,UnitPrice, CustomerID, Country)
    cursor.execute(query2, val)
    cnx.commit()
    temp = temp + 1

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'

In [48]:
#check column datatypes

df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [92]:
#datetimeObj = datetime.strptime('23/Jan/2018 14:12:22', '%d/%b/%Y %H:%M:%S')

In [93]:
#print(datetimeObj)

2018-01-23 14:12:22

In [99]:
#datetime.strptime('23-Jan-2018 14:12:22', '%d-%b-%Y %H:%M:%S')

datetime.datetime(2018, 1, 23, 14, 12, 22)

In [100]:
#now = datetime.now()

In [102]:
#print(now)

2022-08-25 22:06:48.852223

In [105]:
#datetime.strptime(, "%d/%m/%Y %H:%M:%S")

ValueError: time data '12/1/2010 8:26' does not match format '%d/%m/%Y %H:%M:%S'

In [106]:
#df.iloc[1]['InvoiceDate']

'12/1/2010 8:26'

In [114]:
#date1 = datetime.strptime(df.iloc[1]['InvoiceDate'], "%d/%m/%Y %H:%M")

In [115]:
#print(date1)

2010-01-12 08:26:00

In [119]:
temp = 0
for i in range(5):
    InvoiceNo = str(df['InvoiceNo'].iloc[i])
    StockCode = str(df['StockCode'].iloc[i])
    Description = str(df['Description'].iloc[i])
    Quantity = int(df['Quantity'].iloc[i])
    InvoiceDate = datetime.strptime(df.iloc[i]['InvoiceDate'], "%d/%m/%Y %H:%M")
    UnitPrice = float(df['UnitPrice'].iloc[i])
    CustomerID = float(df['CustomerID'].iloc[i])
    Country = str(df['Country'].iloc[i])
    print(InvoiceDate)


    temp = temp + 1
    
#print(InvoiceDate)

2010-01-12 08:26:00
2010-01-12 08:26:00
2010-01-12 08:26:00
2010-01-12 08:26:00
2010-01-12 08:26:00

In [9]:
#check how many nan are present in description column
count_nan = df.isna().sum()
print(count_nan)

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [10]:
#check how many nan are present in description column
count_nan = df['Description'].isna().sum()
print(count_nan)

1454

In [11]:
count_nan = df['CustomerID'].isna().sum()
print(count_nan)

135080

In [133]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [12]:
#replace nan with zero to load data into sql table (sql doesnt accept nan)

df['CustomerID']=df['CustomerID'].fillna(0)

In [13]:
count_nan = df['CustomerID'].isna().sum()
print(count_nan)

0

In [14]:
df['Description']=df['Description'].fillna(0)

In [15]:
count_nan = df['Description'].isna().sum()
print(count_nan)

0

In [16]:
#verifying if NAN is still present in the dataframe 

count_nan = df.isna().sum()
print(count_nan)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [17]:
temp = 0
for i in range(len(df)):
    InvoiceNo = str(df['InvoiceNo'].iloc[i])
    StockCode = str(df['StockCode'].iloc[i])
    Description = str(df['Description'].iloc[i])
    Quantity = int(df['Quantity'].iloc[i])
    InvoiceDate = str(df.iloc[i]['InvoiceDate'])
    UnitPrice = float(df['UnitPrice'].iloc[i])
    CustomerID = float(df['CustomerID'].iloc[i])
    Country = str(df['Country'].iloc[i])

    
    query2 = '''INSERT INTO customer_details (InvoiceNo, StockCode, Description, Quantity, InvoiceDate,UnitPrice, CustomerID, Country)
             values (%s, %s, %s, %s,%s, %s, %s, %s)'''
    val = (InvoiceNo, StockCode, Description, Quantity, InvoiceDate,UnitPrice, CustomerID, Country)
    cursor.execute(query2, val)
    cnx.commit()
    temp = temp + 1